 @import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
 
 body{
  margin: 0;
  padding: 0;
  background-color: rgb(243, 243, 243);
}

.description{
  background-color: rgb(223, 223, 223);
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px;
}
.desc{
  background-color: rgb(223, 223, 223);
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;

}
.emoji{
  width: 35px;
}
.silvia{
  font-family: 'Pinyon Script', cursive;
  font-size: 4em;
  position: absolute;
  animation-name: silvia;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes silvia {
  from {left: 0px;}
  to {left: 500px;}
}
.glow {
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.container{
  animation-name: container;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  top: 150px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(201,201,201,1);
  padding: 50px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

@keyframes container {
  from {top: 0px;}
  to {bottom: 500px;}
}
.container .row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



/* effects images*/

/* effect 1*/
.container .row .col .one{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(171, 228, 230);
	filter: grayscale(100%);
  transition: .3s ease-in-out;
  cursor: pointer;
}
.container .row .col:hover .one {
	filter: grayscale(0);
}

/* effect 2*/
.container .row .col .two{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  filter: sepia(100%);
	transition: .3s ease-in-out;
  cursor: pointer;
}
.container .row .col:hover .two {
	filter: sepia(0);
}

/* effect 3*/
.container .row .col .three{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  cursor: pointer;
}

.container .row .col:hover .three{
  opacity: 1;
	animation: flash 1.5s;
  cursor: pointer;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

/* effect 4*/
.container .row .col .four{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  -webkit-filter: blur(2px);
	filter: blur(2px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  cursor: pointer;
}

.container .row .col .four:hover{
  -webkit-filter: blur(0);
	filter: blur(0);
}

/* effect 5*/
.container .row .col .five{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  cursor: pointer;
}

.container .row .col .five:hover{
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}


/* effect 6*/
.container .row .col figure .fix{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  cursor: pointer;
}

figure {
  position: relative; 
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
  filter: grayscale(.8);
}

figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(0,0,0,.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
figure:hover{
  animation: bloom ease-in-out .75s forwards;
}
figure:hover::before {
  animation: circle .75s;
}
@keyframes bloom {
  0% {
      filter: grayscale(.8);
  }
  40% {
      filter: grayscale(.5);
  }
  100% {
      filter: grayscale(0);
  }
}
@keyframes circle {
  0% {
      opacity: .5;
  background: rgba(213,156,34,.2);
  
  }
  40% {
      opacity: 1;
  background: rgba(213,34,160,.2);
  }
  100% {
      width: 200%;
      height: 200%;
      opacity: 0;
  }
}


/* effect 7*/
.container .row .col .seven{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  transition: 1s ease;
  cursor: pointer;
}
.container .row .col:hover .seven{
  border-radius:50%;
  transition: 1s ease;
}

/* effect 8*/
.container .row .col .eight{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  transition: 1s ease;
  cursor: pointer;
}
.container .row .col:hover .eight{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}


/* effect 9*/
.container .row .col .nine{
  width: 15em;
  height: 20em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  transition: 1s ease;
  cursor: pointer;
}

.container .row .col:hover .nine{
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 1s ease;
}


/* effect 10*/
.container .row .col .ten{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}
.container .row .col:hover .ten{
  filter: brightness(100%);
}


/* effect 11*/
.container .row .col .eleven{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  transition: 1s ease;
  cursor: pointer;
}
.container .row .col:hover .eleven{
  -webkit-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
  transition: 2s ease;
}

/* effect 12*/
.container .row .col .twelv{
  width: 15em;
  border-radius: 10px;
  border: 7px solid rgb(147, 209, 166);
  transition: 1s ease;
  cursor: pointer;
}
.container .row .col:hover .twelv{
  -webkit-transform: rotateZ(10deg);
  -ms-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
  transition: 1s ease;
}